.title1 {
    text-align: left;
    word-wrap: break-word;
    width: 90%;
    padding-bottom: 30px;
}

* {
    box-sizing: border-box;
}

.mainsection {
    height: 100vh;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding: 64px 0px 0px 64px;
    max-width: 1920px;
    flex: 1 1 auto;
    overflow-y: auto;
    flex: 1;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1920px;
    width: 100%;
    margin: 0px 16px 0px 16px;
}

.display-position1 {
    display: flex;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
}

.left-side {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 232px;
    background-color: #2A3647;
    position: relative;
}

.legal-notice-title {
    font-size: 61px;
    margin-top: 30px;
}

@media screen and (max-width: 900px) {
    .display-position1 {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        text-align: left;
        max-width: 100%;
        padding: 0px;
    }

    .legal-notice-title {
        font-size: 61px;
        margin-top: 54px;
        width: 100%;
        padding-left: 20px;
    }

    .mainsection {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        text-align: left;
        max-width: 100%;
        padding: 0px;
        margin-bottom: 100px;
    }

    .title1 {
        text-align: left;
        word-wrap: break-word;
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
        flex: 1 1 auto;
    }

    .arrowleftresponsive {
        display: flex;
        position: absolute;
        right: 10px;
        top: 30px;
    }

    .footerresponsive {
        display: flex;
        align-items: center;
    }

    .footerresponsive p {
        font-size: 16px;
    }

    .responsivearrow {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: left;
        width: 100%;
    }

    .responsiveheader {
        display: flex;
    }

    .join-logo {
        display: none;
    }

    .left-side {
        position: fixed;
        bottom: 0;
        height: 100px;
        top: auto;
        width: 100%;
        z-index: 9999;
    }

    .left-side a {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 8px;
        text-decoration: none;
        color: #CDCDCD;
        height: 38px !important;
        border-radius: 20px;
        width: 77px;
        box-sizing: unset;
    }

    nav {
        display: flex;
        flex-direction: row;
        gap: 0px;
        justify-content: space-around;
    }

    nav a {
        padding-left: 0;
        padding: 31px 10px;
        font-size: 16px;
    }

    footer {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .legal-notice-title {
        font-size: 46px;
    }

    .arrowleftresponsive {
        top: 30px;
    }
}