.title1 {
    text-align: left;
    word-wrap: break-word;
    width: 90%;
}

* {
    box-sizing: border-box;
}

.mainsection {
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding: 64px 0px 0px 64px;
    max-width: 100%;
    flex: 1 1 auto;
    overflow-y: auto;
    flex: 1;
}

.display-position1 {
    display: flex;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
}

.left-side {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 232px;
    background-color: #2A3647;
    position: relative;
}

.legal-notice-title {
    font-size: 61px;
    margin-top: 30px;
}

@media screen and (max-width: 780px) {
    .display-position1 {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: left;
        max-width: 100%;
        padding: 0px;
    }

    .mainsection {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: left;
        max-width: 100%;
        padding: 0px;
    }

    .title1 {
        text-align: left;
        word-wrap: break-word;
        width: 90%;
        overflow-y: auto;
        flex: 1 1 auto;
    }

    .arrowleftresponsive {
        display: flex;
    }

    .footerresponsive {
        display: flex;
        align-items: center;
    }

    .footerresponsive p {
        font-size: 16px;
    }

    .mainsection {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0;
        padding: 80px 20px 100px 20px;
    }

    .responsivearrow {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: left;
        width: 100%;
    }

    .responsiveheader {
        display: flex;
    }

    .join-logo {
        display: none;
    }

    .left-side {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100vw;
        height: 70px;
        position: fixed;
        bottom: 0;
        left: 0;
        top: auto;
        transform: none;
        z-index: 1000;
    }

    nav {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        gap: 0px;
        margin-left: 10px;
        margin-right: 10px;
    }

    nav a {
        padding-left: 0;
        padding: 5px;
        font-size: 16px;
    }

    footer {
        display: none;
    }
}