.summary-content {
   display: flex;
   flex-direction: column;
   gap: 20px;
   flex-grow: 1;
}

.content-summary {
    padding: 60px 80px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    height: -webkit-fill-available;
    flex: 1;
}

.todo {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.summary-todo {
    background-color: white;
    border-radius: 30px;
    width: 264px;
    height: 168px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
    transition: background-color 0.3s, transform 0.2s;
    cursor: pointer;
    padding: 12px;
}



.summary-task-status {
    background-color: white;
    border-radius: 30px;
    height: 168px;
    width: 560px;
    display: flex;
    align-items: center;
    padding: 20px;
  
}

.summary-count {
    display: flex;
    justify-content: space-around;
    gap: 4px;
    height: 168px;
    width: 560px;
    display: flex;
    gap: 30px;
}

.count,
.count1 {
    width: 168px;
    height: 168px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.number-container span{
    font-size: 20px;
}

.number-urgent-container span{
    font-size: 20px;
}

.day {
    margin-top: 20px;
    margin-left: 50px;
}

.day span {
    font-size: 47px;
}

.icon-summary {
    width: 69px;
    height: 69px;
}

.summary-todo:hover .icon-summary {
  filter: brightness(0) invert(1); /* macht schwarzes Weiß */
}
.number-container {
    display: flex;
    flex-direction: column;
    align-items:  center;
    gap: 13px;
}

.number-urgent-container {
    display: flex;
    align-items: center;  
    flex-direction: column;
    gap: 10px;            
    height: auto;  
    margin-left: 40px;
}

.number {
    width: 31px;
    height: 77px;
    font-size: 64px;
    display: flex;
    justify-content: center;
    align-items: center; /* ⬅️ Das hier! */
}

.number span {
    font-size: 20px;
  
}

.vector {
    height: 120px;      
    margin-top: 0;  
    display: flex ;
    justify-content: center;
    margin-left: 60px;
}

.summary-todo,
.summary-task-status,
.count,
.count1 {
    cursor: pointer; 
    transition: background-color 0.3s ease;
}

.summary-todo:hover,
.summary-task-status:hover,
.count:hover,
.count1:hover {
    background-color:rgba(42, 54, 71, 1);
    color: white;
}

.task-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.task-content {
    display: flex;
    gap: 20px;
}

.day {
    text-align: right;
    font-weight: bold;
    padding-right: 20px;
}

.summary-header{
    display: flex;
    align-items: center;
    width: 625px;
    height: 73px;
    padding-bottom: 50px;
}
.summary-header span{
    font-size: 27px;
}
.summary-header p{
    width: 3px;
    height: 59px;
    background-color: #29ABE2;
    margin-right: 20px;
    margin-left: 20px;
}
.summary-header h1{
    font-size: 61px;
}
.info-date{
 margin-left: 30px;
 display: flex;
 flex-direction: column;

  
}
.date{

    font-size: 21px;
    margin-bottom: 10px;
}

.info{
    font-size: 16px;
}

.task-status-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#greeting{
    width: 338px;
    font-size: 47px;
}

.summary-board {
    display: flex;
    flex-direction: column;
}

.task,
#task-container {
    flex: 1;
}
   
.task {
    flex: 1.4;
}

#task-container {
    flex: 0.6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.split-view{
    display: flex;
    max-width: 1440px;
}

.highlight-name {
  color:rgba(41, 171, 226, 1);        
  font-weight: bold;      /* Fett */
  font-size: 64px;        /* Etwas größer */
}