@media(max-width:1280px){

    body.mobile-gateway #mobile-gateway { display: flex; flex-direction: column; min-height: 100dvh; }
  body.mobile-gateway #summary-root   { display: none; }

  h1.mg-greeting{
    margin-top: 250px;
    display: flex;
   justify-content: center;
align-items: center;

  }

header{
    height: 80px;
}

.responsive-logo{
  display: block;             
    width: 100px;               
    height: 32px;
    background-image: url("/assets/logo-black.svg");
}

.left-side {
          position: fixed;
        height: 100px;
        width: 100%;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #2A3647;
        align-items: center;
        z-index: 100;                   
  }

  .join-logo { display: none; }      

  nav {
    display: flex;
    flex-direction: row;          
    gap: 0;
    width: 100%;
    justify-content: space-around;
  }

  .left-side a {
    height: 76px;
    width: 80px;
    padding: 0;
    gap: 6px;
    flex-direction: column;          
    align-items: center;
    justify-content: center;
    color: #CDCDCD;
  }

  nav a { padding-left: 0; }
  
  footer {
    display: none;
  }

  #greeting{
    display: none;
  }

  h3{
    display: none;
  }

  .user-info{
    display: flex;
    justify-content: flex-end;
  }

  

  #task-container{
    display: none;
  }


}

@media(max-width: 900px){

 .summary-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 16px;
    margin-top: 48px;
 }
 .summary-header h1   { order: 1;display: flex; justify-content: flex-start; font-size: 47px;}
  .summary-header span { order: 2; font-size: 20px;}
  .summary-header p    { order: 3; align-items: center;transform: rotate(90deg);height: 90px; }

  .summary-todo{
    width: 186px;
    height: 110px;
  }

  .summary-task-status{
    width: 396px;
    height: 110px;
  }

  .count{

    width: 116px;
    height: 116px;
  }

 .icon-summary{
    width: 40px;
    height: 40px;
    margin-top: 0;
  }

  .number{
    font-size: 47px;
  }

  .number span{
    font-size: 14px;
  }

  .summary-content{
    align-items: center;
    margin-left: 0px;
  }

  .number-container{
    gap: 0;
  }

  .summary-count{
    justify-content: flex-start;
    margin: 0;
    align-items: center;
  }

  .number-urgent-container{
    gap: 0;
  } 

  .vector{
    height: 68px;
  }

  .profil{

    width: 40px;
    height: 40px;
  }

  .number span, .number-container span, .number-urgent-container span{

    font-size: 14px;
  }
}

@media (prefers-color-scheme: dark) {
  .join-logo { background-image: url("/assets/logo-desktop-dark.svg"); }
}