.summary-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-grow: 1;
    margin-left: 96px;
}

.summary-header {
    display: flex;
    align-items: center;
    padding-bottom: 50px;
    margin-top: 40px;
    margin-left: 96px;
}

.summary-header h1 {
    font-size: 61px;
}

.summary-header span {

    font-size: 27px;
}

.summary-header p {
    width: 3px;
    height: 59px;
    background-color: #29ABE2;
    margin: 0 20px;
}



.split-view {
    display: flex;
    max-width: 1440px;
    padding: 20px;
}

.task,
#task-container {
    flex: 1;
}

.task {
    flex: 1.4;
}

#task-container {
    flex: 0.6;
    display: flex;
    align-items: center;
    justify-content: center;
}



.join {
    margin-bottom: 40px;
    flex-direction: row;
}

.join h1 {
    margin-top: 110px;
    font-size: 61px;
}

.join span {
    font-size: 27px;
}

.todo,
.summary-count {
    display: flex;
    gap: 30px;
}

.status-left {
    display: flex;
    flex-direction: row;
}

.urgent-icon {
    margin-left: 30px;
    margin-top: 20px;
    width: 60px;
    height: 60px;
}

.icon-to-do {
    width: 69px;
    height: 69px;
    border-radius: 50%;
    background: #2A3647;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
}

.icon-summary {
    width: 69px;
    height: 69px;
    border-radius: 50%;
    background: #2A3647;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
}

.icon-summary img {
    width: 24px;
    height: 24px;
    transition: filter 0.2s ease;
}


.number-container,
.number-urgent-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 13px;
}

.number-urgent-container {
    margin-left: 40px;
}

.number {
    width: 31px;
    height: 77px;
    font-size: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number span,
.number-container span,
.number-urgent-container span {
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.day {
    margin-top: 20px;
    margin-left: 50px;
    font-weight: bold;
    text-align: right;
    padding-right: 20px;
}

.day span {
    font-size: 47px;
}

.info-date {

    display: flex;
    flex-direction: column;
}

.date {
    font-size: 21px;
    margin-bottom: 10px;
    font-weight: bold;
}

.info {
    font-size: 16px;
}

.summary-header {
    display: flex;
    align-items: center;
    padding-bottom: 50px;

}

.responsive-logo {
    background: url("/assets/logo-desktop.svg") no-repeat center / contain;
    display: none;
}

.highlight-name {
    color: rgba(41, 171, 226, 1);
    font-weight: bold;
    font-size: 64px;
}

#summary-To-do:hover svg path {
    fill: #2A3647;
}

#log-out-menu.active {
    display: flex;
    z-index: 1000;
}

#log-out-menu {
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    width: 150px;
    height: 158px;
    background-color: #2A3647;
    color: #CDCDCD;
    border-radius: 20px 0 20px 20px;
    box-shadow: 0px 0px 4px 0px #0000001A;
    top: 96px;
    right: 2%;
}

.badges-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 43px;
    height: 43px;
    border-radius: 45px;
    border: 3px solid #2A3647;
    color: #29ABE2;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

.profil-container {
    position: relative;
    padding: 20px;
}

.profil {

    border-radius: 50%;
    cursor: pointer;
}

.navbar {
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #1e1e2f;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    display: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin-top: 40px;
    width: 150px;
    height: 158px;
}

.navbar a {
    display: block;
    color: white;
    text-decoration: none;
    margin-bottom: 8px;
    font-size: 16px;
    width: 130px;
    height: 46px;
}

.navbar a:last-child {
    margin-bottom: 0;
}

.navbar a:hover {
    text-decoration: underline;
}
















.status-box-container {
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

.status-box {
    flex: 1;
    background-color: white;
    border-radius: 30px;
    width: 264px;
    height: 168px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.status-box:hover {
    background-color: #2A3647;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transform: scale(1.05);
    color: white;
}

.summary-task-status,
.count,
.count1 {
    position: relative;
    margin-top: 30px;
    background-color: white;
    border-radius: 30px;
    height: 168px;
    width: 560px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.summary-task-status {
    width: 100%;
}

.content-summary {}

.vector {
    width: 2px;
    height: 120px;
    display: block;
    margin-left: 50px;
    color: #1e1e2f;
    z-index: 9999;
    background-color: #D1D1D1
}





.progress-bar-1 {
    width: 55px;
    height: 8px;
    background-color: #4589FF;
    border-radius: 8px;
}

.progress-bar-2 {
    width: 110px;
    height: 8px;
    background-color: #4589FF;
    border-radius: 8px;
}

.summary-container {
    display: flex;
    gap: 80px;
}

.status-box:hover .icon-to-do {
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .25);
    transform: scale(1.05);
}

.status-box:hover .icon-to-do path {
    fill: #2A3647;
}

.check-icon path {
    stroke: white;
    transition: stroke 0.2s ease;
}

.status-box:hover {
    background-color: #2A3647;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    transform: scale(1.05);
    color: white;
}

.status-box:hover .icon-summary {
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    transform: scale(1.05);
}

.status-box:hover .check-icon path {
    stroke: #2A3647;
}

.task-count {
    font-size: 60px;
    font-weight: 600;
    padding-right: 10px;
}

.done-text-container {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.status-overview {
    display: flex;
    gap: 40px;
    margin-top: 20px;
    justify-content: space-around;
}

.overview-box {
    width: 160px;

}

.split {
    display: flex;
    padding-left: 96px;


}

.left-content {
    flex: 0 0 700px;
}

.greeting {

    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 47px;
    font-weight: 600;
    color: #2A3647;
    text-align: center;
}