@media(max-width:1280px){

header{
    height: 80px;
}
.left-side {
    position: fixed;
    left: 0; right: 0; bottom: 0;
    width: 100%;
    height: 80px;                    /* gewünschte Höhe */
    padding: 0 12px;
    background: #2A3647;
    display: flex;
    flex-direction: row;              /* horizontal statt vertikal */
    align-items: center;
    justify-content: space-around;
    z-index: 10000;                   /* über Inhalt */
  }

  .join-logo { display: none; }      /* Logo unten weglassen (optional) */

  nav {
    display: flex;
    flex-direction: row;              /* horizontal */
    gap: 0;
    width: 100%;
    justify-content: space-around;
  }

  .left-side a {
    height: 76px;
    width: 80px;
    padding: 0;
    gap: 6px;
    flex-direction: column;           /* Icon über Label (falls du Icons hast) */
    align-items: center;
    justify-content: center;
    color: #CDCDCD;
  }

  nav a { padding-left: 0; }
  
  footer {
    display: none;
  }

  #greeting{
    display: none;
  }

  h3{
    display: none;
  }

  .user-info{
    display: flex;
    justify-content: flex-end;
  }

  .responsive-logo{
    width: 32px ;
    height: 39px ;
  }

  #task-container{
    display: none;
  }


}

@media(max-width: 900px){

 .summary-header{
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    margin-top: 48px;
 }
 .summary-header h1   { order: 1;display: flex; justify-content: flex-start; font-size: 47px;}
  .summary-header span { order: 2; font-size: 20px;}
  .summary-header p    { order: 3; align-self: flex-start;transform: rotate(90deg);height: 90px; }

  .summary-todo{
    width: 186px;
    height: 110px;
  }

  .summary-task-status{
    width: 396px;
    height: 110px;
  }

  .count{

    width: 116px;
    height: 116px;
  }

 .icon-summary{
    width: 40px;
    height: 40px;
  }

  .number{
    font-size: 47px;
  }

  .number span{
    font-size: 14px;
  }

  .summary-content{
    margin-left: 16px;
  }
}