body {
  opacity: 0;
  transition: opacity 0.2s ease;
}

.summary-header {
    display: flex;
    align-items: center;
    padding-bottom: 50px;
    margin-top: 40px;
    margin-left: 96px;
}

.summary-header h1 {
    font-size: 61px;
}

.summary-header span {
    font-size: 27px;
}


.summary-header p {
    width: 3px;
    height: 59px;
    background-color: #29ABE2;
    margin: 0 20px;
}

.icon-to-do {
    width: 69px;
    height: 69px;
    border-radius: 50%;
    background: #2A3647;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
}

.icon-summary {
    width: 69px;
    height: 69px;
    border-radius: 50%;
    background: #2A3647;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
}

.responsive-logo {
    background: url("/assets/logo-desktop.svg") no-repeat center / contain;
    display: none;
}

.status-box-container {
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

.status-box {
    flex: 1;
    background-color: white;
    border-radius: 30px;
    width: 264px;
    height: 168px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.status-box:hover {
    background-color: #2A3647;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transform: scale(1.05);
    color: white;
}

.summary-task-status,
.count,
.count1 {
    position: relative;
    margin-top: 30px;
    background-color: white;
    border-radius: 30px;
    height: 168px;
    width: 560px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.summary-task-status {
    width: 100%;
}

.vector {
    width: 2px;
    height: 120px;
    display: block;
    margin-left: 50px;
    color: #1e1e2f;
    z-index: 9999;
    background-color: #D1D1D1
}

.progress-bar-1 {
    width: 55px;
    height: 8px;
    background-color: #4589FF;
    border-radius: 8px;
}

.progress-bar-2 {
    width: 110px;
    height: 8px;
    background-color: #4589FF;
    border-radius: 8px;
}

.summary-container {
    display: flex;
    gap: 80px;
}

.status-box:hover .icon-to-do {
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .25);
    transform: scale(1.05);
}

.status-box:hover .icon-to-do path {
    fill: #2A3647;
}

.check-icon path {
    stroke: white;
    transition: stroke 0.2s ease;
}

.status-box:hover {
    background-color: #2A3647;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    transform: scale(1.05);
    color: white;
}

.status-box:hover .icon-summary {
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    transform: scale(1.05);
}

.status-box:hover .check-icon path {
    stroke: #2A3647;
}

.task-count {
    font-size: 60px;
    font-weight: 600;
}

.done-text-container {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.status-overview {
    display: flex;
    gap: 40px;
    margin-top: 20px;
    justify-content: space-around;
    padding-bottom: 90px;
}

.overview-box {
    width: 160px;

}

.split {
    display: flex;
    padding-left: 96px;
}

.left-content {
    flex: 0 0 700px;
}

.greeting {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 47px;
    font-weight: 600;
    color: #2A3647;
    text-align: left;
}

.greeting span {       
  text-align: left; 
}

.summary-todo {
    display: flex;
    align-items: center;
    gap: 20px;
}

#deadline-container {
    display: flex;
    align-items: center;
}

#deadline-container img {
    height: 60px;
}

.urgent-date-text {
    font-size: 30px;
}

#enddate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 70px;
    gap: 10px;
    color: #2A3647;
}

.status-box:hover #enddate {
    color: white;
}

.overview-box-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.logged-user {
    color: #29ABE2;
    font-size: 66px;
}

.user-info {
    position: relative;
    overflow: visible;
}

.profil {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}
.avatar-text{
    position: absolute;
    color: white;
    font-size: 16px;
}
.navbar {
    position: absolute;
    top: 60px;
    right: 0;
    display: none;
    background: #1e1e2f;
    color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .2);
    z-index: 9999;
    pointer-events: auto;
    min-width: 150px;
}