@media(max-width:1400px) {
  .greeting span {
    text-align: center;
    font-size: 40px;
  }
}

@media(max-width:1230px) {

  header {
    height: 80px;
  }

  .responsive-logo {
    display: block;
    width: 40px;
    height: 40px;
    background-image: url("../assets/logo-black.svg");
  }

  .left-side {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100px;
    position: fixed;
    bottom: 0;
    left: 0;
    top: auto;
    transform: none;
    z-index: 99999;
  }

  .footer-task {
    width: 71px !important;
  }

  .join-logo-a {
    display: none !important;
  }

  .join-logo {
    display: none;
  }

  nav {
    display: flex;
    flex-direction: row;
    gap: 0;
    width: 100%;
    justify-content: space-around;
  }


  .left-side a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    text-decoration: none;
    color: #CDCDCD;
    height: 38px !important;
    border-radius: 20px;
    min-width: 60px;
    box-sizing: unset;
  }

  nav a {
    padding: 31px 10px;
    font-size: 16px;
  }

  footer {
    display: none;
  }

  h3 {
    display: none;
  }

  .user-info {
    display: flex;
    justify-content: flex-end;
  }

  #task-container {
    display: none;
  }

}

@media(max-width: 1200px) {
  .greeting {
    display: none;
  }

  body.mobile-gateway #mobile-gateway {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
  }

  body.mobile-gateway #summary-root {
    display: none;
  }

  .mg-greeting {
    margin-top: 250px;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .greetings {
    display: none;
  }
}

@media(max-width: 900px) {


  .left-side a {
    height: 37px !important;
  }

  #enddate span {
    font-size: 16px;
  }

  #enddate {

    margin: 0;
  }

  .overview-box-wrapper {
    font-size: 16px;
  }

  .task-count {
    font-size: 47px;
  }

  .status-box {
    width: 100%;
    height: 110px;
    gap: 0px;
  }

  .summary-header p {
    margin-left: 50px;
  }

  .summary-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 18px;
    margin-top: 16px;
    padding-bottom: 0px;
  }

  .summary-header h1 {
    order: 1;
    display: flex;
    justify-content: flex-start;
    font-size: 47px;
  }

  .summary-header span {
    order: 2;
    font-size: 20px;
  }

  .summary-header h1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .summary-header span::after {
    content: "";
    width: 80px;
    height: 2px;
    background-color: #29ABE2;
    margin-top: 12px;
    display: block;
  }

  .summary-task-status {
    justify-content: space-evenly;

  }

  .summary-header p::after {
    visibility: hidden;
  }

  .status-box-container {
    margin-top: 36px;
    gap: 16px;
  }

  #deadline-container img {
    margin-left: 20px;
    width: 40px;
    height: 40px;
  }

  .summary-task-status {
    width: 396px;
    height: 110px;
  }

  .count {

    width: 116px;
    height: 116px;
  }

  .urgent-icon img {
    margin-left: 0px;
    margin-top: 10px;
    width: 40px;
    height: 40px;
  }

  #deadline-container img {

    width: 40px;
    height: 40px;
  }

  .icon-summary {

    width: 40px;
    height: 40px;
  }

  .icon-to-do {
    width: 40px;
    height: 40px;
    margin-top: 0;
  }

  .icon-to-do svg {

    width: 20px;
  }

  .check-icon {
    width: 20px;
  }

  .icon-todo {
    height: 40px;
    width: 40px;
  }

  .number {
    font-size: 47px;
  }

  .number span {
    font-size: 16px;
  }

  .summary-content {
    align-items: center;
    margin-left: 0px;
  }

  .number-container {
    gap: 0;
  }

  .summary-count {
    justify-content: flex-start;
    margin: 0;
    align-items: center;
  }

  .number-urgent-container {
    gap: 0;
    margin: 0;
  }

  .vector {
    margin-left: 20px;
    height: 68px;
  }

  .profil {

    width: 40px;
    height: 40px;
  }

  .number span,
  .number-container span,
  .number-urgent-container span {

    font-size: 16px;
  }

  .split {
    padding-left: 1px;
    align-items: center;
    justify-content: center;
  }

  .urgent-date-text {
    font-size: 16px;
  }

  .urgent-date-text span {
    font-size: 16px;
  }

  .left-content {
    flex: 1 0 0;
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media(max-width: 500px) {
  .left-side a {
    height: 17px !important;
  }

  .summary-todo {
    gap: 0px;
  }

  .left-side {
    height: 80px;
  }

  .status-overview {
    gap: 20px;
  }
}

@media(max-width: 450px) {

  .todo {
    display: flex;
    flex-direction: column;
  }

  .summary-count {
    display: flex;
    flex-direction: column;
  }

  .summary-task-status {
    width: 300px;
  }

  .summary-task-status .info {
    display: none;
  }

  .vector {
    margin-left: 0px;
  }

  .done-text-container {
    padding-left: 0px;
  }
}

@media (min-width: 320px) and (max-width: 340px) {
  .status-overview {
    gap: 10px;
    padding-bottom: 100px;
  }

  .content {
    max-width: 320px;
  }
}