html {
    background-color: #f6f7f8;
    font-family: "Inter", sans-serif;
}

body {
    max-width: 1440px;
    margin: 0 auto;
}

.responsivnessheaderwrittingdnonetoggle {
    display: none;
}

#errorWindow {
    display: block;
}

#required-message {
    position: absolute;
    left: 32%;
    top: 85%;
    border-radius: 30px;
    display: none;
    align-items: center;
    justify-content: center;
    gap: 36px;
}

.required-text {
    border-color: #FF8190;
}

@media (max-width: 780px) {

    .headerwritingresponsive {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        font-size: 17px;
        width: 100%;
        z-index: 9999;
    }

    .responsivnessheaderwrittingdnonetoggle {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        font-size: 18px;
        margin-top: 30px;
        width: 100%;
    }

    .headerwritingresponsive {
        margin-top: auto;
               margin-bottom: 90px;
    }


    .login {
        background-color: white;
        border-radius: 30px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.04);
        padding: 10px;
        width: 90vw;
        height: 60vh;
        margin-top: 30px;
        justify-content: space-around;
    }

    .headerwriting {
        display: none;
        align-items: center;
        justify-content: center;
        gap: 20px;
        font-size: 18px;
        margin-top: 30px;
        width: 100%;
        position: static;
        top: auto;
        right: auto;
        height: auto;
    }

    .buttons {
        gap: 15px;
    }

    .buttonlogin,
    .buttonguestlogin {
        width: 100%;
    }

    #signUpButton {
        width: 30%;
    }
}