html {
    background-color: #f6f7f8;
    font-family: "Inter", sans-serif;
}

body {
    max-width: 1440px;
    margin: 0 auto;
}

@media screen and (min-width: 320px) and (max-width: 780px) {

    .logo {
        height: 78px;
        width: 64px;
        transform: translate(-22px, -44px);
    }

    /*.headerwriting {
        position: absolute;
        bottom: -20px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        font-size: 18px;
    }*/

    .headerwriting {
        position: static;
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        font-size: 18px;
    }

    .responsivnessheaderwritting {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .login {
        position: absolute;
        bottom: 30vh;
        margin-top: 40px;
        padding: 30px;
    }

    .page {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .mainlogin{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
}