* {
    scroll-behavior: smooth;
    font-family: 'inter', sans-serif;
    margin: 0;
}

.display-position {
    height: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.bg-color {
    background-color: #091931;
}

body {
    display: flex;
    height: auto;
}

.d_none {
    display: none !important;
}

.left-side {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-width: 232px;
    background-color: #2A3647;
    position: relative;
    z-index: 2;
    position: sticky;
    top: 0;
}

.left-side a {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: #CDCDCD;
    height: 46px;
}

.join-logo {
    position: absolute;
    top: 64px;
    left: 50%;
    transform: translate(-50%);
    width: 100px;
}

nav {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 15px;
    font-weight: 500;
}

nav a {
    padding-left: 25%;
}

nav a:hover {
    background-color: #2A3D59
}

nav a.active {
    background: #091931
}

.footer-wrapper.active {
    background: #091931
}

.footer-wrapper {
    width: 232px;
    display: flex;
    justify-content: center;
}

footer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: absolute;
    bottom: 64px;
    left: 50%;
    transform: translate(-50%);
}

.right-side {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #f5f6f7;
    height: 100vh;
    background: linear-gradient(0deg, rgba(245, 246, 247, 1) 99%, rgb(223, 224, 225) 100%);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 96px;
    padding: 0 20px 0 20px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.06);
    z-index: 9997;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 16px;
}

.profil {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.help {
    width: 56px !important;
    height: 56px !important;
}

.guestloginprofilebadge {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #2A3647;
    background-color: white;
}

.avatar-text-guest{
    position: absolute;
    color: #29ABE2;
    font-size: 16px;
}
#startpage-logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: #f5f6f7;
}

.startpage-logo {
    width: 20%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    animation: moveLogo 10s ease-in-out forwards;
}

.privacy-policy:hover {
    color: #007CEE;
    transform: scale(1.05);
}

.legal-notice:hover {
    color: #007CEE;
    transform: scale(1.05);
}

#badge-overlay {
    display: none;
    height: 150px;
    width: 140px;
    background-color: #2A3647;
    position: absolute;
    border-radius: 20px 2px 20px 20px;
    right: 10px;
    color: white;
    font-weight: 300;
    flex-direction: column;
    align-items: center;
    z-index: 10;
}

#badge-overlay.show {
    display: flex;
}

#badge-overlay a {
    font-size: 16px;
    margin-top: 22px;
    color: white;
    text-decoration: none;
    z-index: 9999;
}

#badge-overlay a:hover {
    background-color: #2c3a52;
    box-shadow: 0 0 0 12px #2c3a52;
}

.bordercolor-blue {
    border: 1px solid #29ABE2 !important;
}

@media (max-width: 900px) {
    #badge-overlay {
        height: 170px;
    }
}