body {
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
}


.task-content-container {
    flex: 1;
    width: 100%;
    background-color: #f5f6f7;
    background: linear-gradient(0deg, rgba(245, 246, 247, 1) 99%, rgb(223, 224, 225) 100%);
    display: flex;
    align-items: center;
    position: relative;
    font-weight: 400;
}

.left-task {
    display: flex;
    flex-direction: column;
    margin-left: 140px;
    z-index: 9999;
}

.right-task {
    display: flex;
    flex-direction: column;
    z-index: 9999;
}

.task-title {
    font-size: 60px;
    position: absolute;
    top: 100px;
}

.input {
    font-size: 16px;
    border: 1px solid #ccc;
    border-color: #dddddd;
    outline: none;
    border-radius: 10px;
    padding: 20px 200px 20px 20px;
    background-color: #ffffff;
    text-align: left;
}

textarea {
    resize: vertical;
    width: 222px;
    height: 70px;
}

::placeholder {
    color: rgb(155, 154, 154);
    opacity: 1;
}


.date-container {
    position: relative;
}

.padding-top20 {
    padding-top: 20px;
}


.em-05 {
    margin-block-start: 0em;
    margin-block-end: 0.5em;
}

.date-icon {
    width: 19px;
    position: absolute;
    top: 564px;
    left: 540px;
}

.vertical-line {
    border: 1px;
    height: 348px;
    width: 1px;
    background-color: #ccc;
    margin-left: 60px;
    margin-right: 60px;
}


.priority-input-container {
    display: flex;
    gap: 26px;
}

.priority-input {
    text-align: center;
    padding: 15px 49px 15px 20px !important;
    width: 60px;
}

.priority-input::placeholder {
    color: black;
}

.bg-orange {
    background-color: #FFA800
}

.bg-orange::placeholder {
    color: white;
}

.clear-button {
    background-color: #F6F7F8;
    border: 1px solid;
    border-color: #2A3647;
    border-radius: 10px;
    padding: 16px 24px;
}

.create-task-button {
    background-color: #2A3647;
    color: white;
    border: 1px solid;
    border-radius: 10px;
    padding: 16px 20px;
    gap: 4px;
    font-weight: 700;
}

.task-button-container {
    position: absolute;
    top: 700px;
    left: 960px;
}

.priority-container {
    overflow: visible !important;
}

.urgent-container {
    position: relative;

}

.urgent-container:hover {
    box-shadow: 10px 10px 5px 12px lightblue;
}

.double-up-arrow {
    width: 20px;
    position: absolute;
    top: 18px;
    right: 22px;
}

.medium-container {
    position: relative;
    box-shadow: 10px 10px 5px 12px lightblue;
    overflow: visible !important;
}

.equals-icon {
    width: 20px;
    position: absolute;
    top: 23px;
    right: 18px;
}

.low-container {
    position: relative;
}

.double-down {
    width: 20px;
    position: absolute;
    top: 20px;
    right: 28px;
}

.required-text {
    font-size: 12px;
    position: absolute;
    bottom: 100px;
}

.asterisk {
    color: #FF8190;
    font-size: 14px;
}