body {
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
}

* {
    overflow: visible;
}

.task-content-container {
    flex: 1;
    width: 100%;
    background-color: #f5f6f7;
    background: linear-gradient(0deg, rgba(245, 246, 247, 1) 99%, rgb(223, 224, 225) 100%);
    display: flex;
    align-items: center;
    position: relative;
    font-weight: 400;
}

.left-task {
    display: flex;
    flex-direction: column;
    margin-left: 140px;
    z-index: 9999;
}

.right-task {
    display: flex;
    flex-direction: column;
    z-index: 9999;
    margin-top: 44px;
}

.task-title {
    font-size: 60px;
    position: absolute;
    top: 100px;
}

.input {
    font-size: 16px;
    border: 1px solid #ccc;
    border-color: #dddddd;
    outline: none;
    border-radius: 10px;
    padding: 20px 200px 20px 20px;
    background-color: #ffffff;
    text-align: left;
}

textarea {
    resize: vertical;
    width: 222px;
    height: 70px;
}

::placeholder {
    color: rgb(155, 154, 154);
    opacity: 1;
}


.date-container {
    position: relative;
}

.padding-top20 {
    padding-top: 20px;
}


.em-05 {
    margin-block-start: 0em;
    margin-block-end: 0.5em;
}

.date-icon {
    width: 24px;
    position: absolute;
    top: 566px;
    left: 552px;
}

.vertical-line {
    height: 414px;
    width: 1px;
    background-color: #ccc;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 54px;
}


.priority-input-container {
    display: flex;
    gap: 26px;
}

.priority-input {
    text-align: center;
    padding: 15px 49px 15px 20px !important;
    width: 60px;
}

.priority-input::placeholder {
    color: black;
}

.bg-orange {
    background-color: #FFA800
}

.bg-orange::placeholder {
    color: white;
}

.bg-red {
    background-color: #FF3D00;
}

.bg-green {
    background-color: #7AE229;
}

.bg-green::placeholder {
    color: white;
}

.bg-red::placeholder {
    color: white;
}


.bg-orange::placeholder {
    color: white;
}

.black-text {
    color: black;
}

.clear-button {
    font-size: 18px;
    background-color: #F6F7F8;
    border: 1px solid;
    border-color: #2A3647;
    border-radius: 10px;
    padding: 15px 32px 15px 12px;
    font-weight: 300
}

.clear-button:hover {
    border-color: #29ABE2;
    color: #29ABE2;
    box-shadow: 0px 4px 10px -4px rgb(0, 0, 0);
    transition: 0.2s;
}

.create-task-button {
    font-size: 18px;
    background-color: #2A3647;
    color: white;
    border: 1px solid;
    border-radius: 10px;
    padding: 16px 36px 16px 12px;
    gap: 4px;
    font-weight: 600;
}

.create-task-button:hover {
    background-color: #29ABE2;
    box-shadow: 0px 4px 10px -4px rgb(0, 0, 0);
    border: none;
    transition: 0.2s;
}

.task-button-container {
    position: absolute;
    top: 700px;
    left: 960px;
}


.urgent-container {
    position: relative;
}

.urgent-container input {
    cursor: pointer;
}

.urgent-container:hover {
    box-shadow: 0px 4px 10px -4px rgb(0, 0, 0);
    border-radius: 12px;
    transition: 0.1s;
}

.double-up-arrow {
    width: 20px;
    position: absolute;
    top: 18px;
    right: 22px;
}

.medium-container {
    position: relative;
}

.medium-container input {
    cursor: pointer;
}

.medium-container:hover {
    box-shadow: 0px 4px 10px -4px rgb(0, 0, 0);
    border-radius: 12px;
    transition: 0.1s;
}

.equals-icon {
    width: 20px;
    position: absolute;
    top: 23px;
    right: 18px;
}

.low-container {
    position: relative;
}

.low-container input {
    cursor: pointer;
}

.low-container:hover {
    box-shadow: 0px 4px 10px -4px rgb(0, 0, 0);
    border-radius: 12px;
    transition: 0.1s;
}


.double-down {
    width: 20px;
    position: absolute;
    top: 20px;
    right: 28px;
}

.required-text {
    font-size: 12px;
    position: absolute;
    bottom: 100px;
}

.asterisk {
    color: #FF8190;
    font-size: 14px;
}

.cancel-icon {
    position: absolute;
    top: 15px;
    left: 58px;
}

.check-icon {
    position: absolute;
    top: 21px;
    left: 216px;
}

#arrow.active {
    border-color: red;
}

.category-select-dropdown {
    cursor: pointer;
    font-size: 16px;
    border: 1px solid #ccc;
    border-color: #dddddd;
    outline: none;
    border-radius: 10px;
    padding: 20px 270px 20px 20px;
    background-color: #ffffff;
    text-align: left;
    opacity: 1;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 6'><path fill='black' d='M0 0l5 6 5-6z'/></svg> ");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px;
    z-index: 0;

}

.category-select-dropdown:hover {
    box-shadow: 0px 2px 8px -5px rgb(0, 0, 0);
}