.task-content-container {
    height: auto !important;
    width: 100%;
}

.task-title {
    font-size: 36px;
}


.date-icon {
    top: 58px;
    left: 382px;
}

.drop-down-arrow-svg {
    top: 68px;
    right: 42px;
}

.drop-down-arrow-svg-category {
    top: 68px;
    right: 42px;
}

.task-button-container {
    top: 606px;
    left: 103px;
}

.vertical-line {
    height: 564px;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 179px;
}