.category-input::placeholder {
    color: rgb(0, 0, 0);
}

.priority-input-container {
    display: flex;
    gap: 26px;
}

.priority-input {
    box-sizing: border-box;
    width: 100%;
    padding: 14px 12px;
}

.assign-Input::placeholder {
    color: black;
}

.urgent-container input {
    cursor: pointer;
}

.medium-container input {
    cursor: pointer;
}

.low-container input {
    cursor: pointer;
}

textarea:focus::-webkit-input-placeholder {
    color: transparent;
}

.assign-Input {
    box-shadow: inset 1px -1px 2px #bebebe, inset -1px -1px 5px #ffffff;
}

.assign-Input:hover {
    box-shadow: inset 1px -1px 0px #bebebe, inset -1px -1px 0px #ffffff;
}

input:focus::placeholder {
    opacity: 0;
}

.category-input:focus::placeholder {
    opacity: 1;
}

.assign-Input:focus::placeholder {
    opacity: 1;
}

input.priority-input:focus::placeholder {
    opacity: 1;
}

.category-input {
    box-shadow: inset 1px -1px 2px #bebebe, inset -1px -1px 5px #ffffff;
}

.category-input:hover {
    box-shadow: inset 1px -1px 0px #bebebe, inset -1px -1px 0px #ffffff;
}

.subtask-input-container {
    position: relative;
}

.assign-Input:focus {
    outline: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    display: none;
    appearance: none;
}

.date-field .input {
    width: 100%;
    padding-right: 40px;
}

.subtask-input {
    padding: 16px 76px 13px 20px;
}

.bg-orange {
    background-color: #FFA800
}

.bg-orange::placeholder {
    color: white;
}

.bg-grey {
    background-color: #2A3647;
    border-radius: 10px;
    color: white;
}

.bg-red {
    background-color: #FF3D00;
}

.bg-green {
    background-color: #7AE229;
}

.bg-green:hover {
    box-shadow: none !important;
}

.priority-input::placeholder {
    color: black;
}

.bg-green::placeholder {
    color: white;
}

.bg-red::placeholder {
    color: white;
}

.bg-orange::placeholder {
    color: white;
}

.newUserIcon {
    background-color: blanchedalmond;
    border-radius: 20px;
    width: 36px;
    height: 36px;
    margin-left: 2px;
}

#medium-input {
    text-align: left;
    padding-left: 2px;
}

@media (max-width:500px) {
    .urgent-container input {
        cursor: pointer;
        font-size: 17px;
    }



    .priority-input {
        box-sizing: border-box;
        width: 129%;
        padding: 14px 2px;
    }

    .equals-icon {
        width: 14px;
        position: absolute;
        top: 23px;
        right: 2px !important;
        cursor: pointer;
        width: 11px;
    }

    .double-down {
        width: 20px;
        position: absolute;
        top: 20px;
        right: 18px;
        cursor: pointer;
    }
}