body {
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
}

* {
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 96px;
    padding: 0 20px 0 20px;
    background-color: #FFFFFF;
    flex: 0 0 100px;
}

.task-content-container {
    display: flex;
    flex: 1;
    height: 94vh;
    width: 100%;
    font-weight: 400;
    min-width: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    gap: clamp(12px, 2vw, 32px);
}

.assigned-to-container {
    position: relative;
}

#task-form-container {
    flex: 1;
    overflow: hidden;
    max-width: 1920px;
}

.category-container {
    position: relative;
}

.left-task {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 140px;
    z-index: 9998;
    position: relative;
    min-width: 0;
    width: clamp(320px, 45vw, 1120px);
}

.right-task {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding-right: 30px;
    min-width: 0;
    width: clamp(320px, 30vw, 1120px);
}

.task-title {
    position: relative;
    top: -40px;
    font-size: 60px;
}

::placeholder {
    color: rgb(155, 154, 154);
    opacity: 1;
}

.due-date-container {
    position: relative;
}

.padding-top20 {
    padding-top: 20px;
}

.em-05 {
    margin-block-start: 0em;
    margin-block-end: 0.5em;
}

.black-text {
    color: black;
}

.cursorPointer {
    cursor: pointer;
}

.task-button-container {
    display: flex;
    position: absolute;
    top: 190px;
    right: 0px;
    gap: 20px;
}

.urgent-container {
    position: relative;
}

.urgent-container:hover {
    box-shadow: 0px 4px 10px -4px rgb(0, 0, 0);
    border-radius: 12px;
    transition: 0.1s;
}

.double-up-arrow {
    width: 20px;
    position: absolute;
    top: 18px;
    right: 22px;
    cursor: pointer;
}

.medium-container {
    position: relative;
}

.medium-container:hover {
    box-shadow: 0px 4px 10px -4px rgb(0, 0, 0);
    border-radius: 12px;
    transition: 0.1s;
}

.low-container {
    position: relative;
}

.low-container:hover {
    box-shadow: 0px 4px 10px -4px rgb(0, 0, 0);
    border-radius: 12px;
    transition: 0.1s;
}

.required-text {
    font-size: 12px;
    position: absolute;
    bottom: 134px;
}

.borderColorBlue {
    border-color: #29ABE2;
}


#arrow.active {
    border-color: red;
}

.category-select-dropdown {
    cursor: pointer;
    font-size: 16px;
    border: 1px solid #ccc;
    border-color: #dddddd;
    outline: none;
    border-radius: 10px;
    padding: 14px 270px 14px 20px;
    background-color: #ffffff;
    text-align: left;
    opacity: 1;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 6'><path fill='black' d='M0 0l5 6 5-6z'/></svg> ");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px;
    z-index: 0;
}

.category-select-dropdown:hover {
    box-shadow: 0px 2px 8px -5px rgb(0, 0, 0);
}

.submit {
    border-color: #FF8190;
}

.required-mssg {
    color: #FF8190;
    font-size: 12px;
}

.dropdown-list {
    position: absolute;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 10;
}

.dropdown-list.open {
    display: block;
}

.hidden {
    display: none;
}

.Assigned-dropdown-username {
    cursor: pointer;
    height: 50px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.Assigned-dropdown-username:hover {
    background-color: rgb(123, 124, 124, 0.2);
    border-radius: 10px;
}

.Assigned-dropdown-username.bg-grey {
    background-color: #2A3647 !important;
}

.category-option {
    height: 50px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding-left: 10px;
}

.category-option:hover {
    background-color: rgb(123, 124, 124, 0.2);
    border-radius: 10px;
}

.check-icon-black path {
    stroke: black;
    fill: black;
}

.left-task-container {
    padding-right: 200px;
    z-index: -1;
    position: relative;
    top: -100px;
}

.cancel-accept-container {
    display: none;
    position: absolute;
    gap: 6px;
    align-items: center;
    justify-content: space-around;
    top: 14px;
    right: 24px;
}

.box-shadow-blue {
    box-shadow: inset 1px -1px 0px #00bfe0, inset -1px -1px 5px #ffffff;
}

.task-added {
    visibility: hidden;
    opacity: 0;
    width: 300px;
    height: 66px;
    border-radius: 20px;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background-color: #2A3647;
    color: white;
    font-weight: 300;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 9999;
    transition: all 0.2s ease;
}

.task-added-end {
    top: 50%;
    transform: translate(-50%, -50%);
}

.task-added-board {
    display: none;
    width: 300px;
    height: 66px;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    position: absolute;
    background-color: #2A3647;
    color: white;
    font-weight: 300;
    justify-content: space-around;
    align-items: center;
    z-index: 9999;
    transition: all 0.2s ease;
}

.single-subtask-container {
    margin-top: 4px;
    margin-left: -36px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.single-subtask-container:hover {
    background-color: rgba(148, 148, 148, 0.1);
    border-radius: 8px;
}

ul {
    text-indent: -1%;
}

.edit-text {
    list-style-type: none;
    background-color: white;
    margin-left: -36px;
    padding-left: 20px;
    border-bottom: 1px solid #29ABE2;
    list-style-type: none;
}

.single-subtask.edit-text .single-subtask-container:hover {
    background: none !important;
    border-radius: 0 !important;
    cursor: default;
}

.subtask-text:focus {
    outline: none;
}

.date-field {
    position: relative;
    display: inline-block;
}

#subtask-content {
    height: 100px;
    overflow-y: auto;
}

.mobile-required-text {
    display: none;
}

#edit-overlay-accept {
    display: none;
    position: absolute;
    left: 112px;
}

#badge-overlay {
    display: none;
    height: 150px;
    width: 140px;
    background-color: #2A3647;
    position: absolute;
    border-radius: 20px 2px 20px 20px;
    right: 10px;
    color: white;
    font-weight: 300;
    flex-direction: column;
    align-items: center;
}

#badge-overlay.show {
    display: flex;
}

#badge-overlay a {
    font-size: 14px;
    margin-top: 22px;
    color: white;
    text-decoration: none;
    z-index: 9999;
}

#badge-overlay a:hover {
    background-color: #2c3a52;
    box-shadow: 0 0 0 12px #2c3a52;
}

.contents {
    display: flex;
}