.arrow{
    display: flex;
    justify-content: space-between;
}

.join{
    color:rgba(41, 171, 226, 1);
}

h1{

    font-size: 61px;
    margin-bottom: 32px;
}

p{
    font-size: 16px;

}

h2{
    font-size: 24px;
    gap: 16px;
}

h3{
    font-size: 20px;
    font-weight: bold;
   margin-bottom: 20px;
}

p{
    margin-bottom: 20px;
}
.nr{
    margin-right: 35px;
    font-size: 27px;
    font-weight: bold;
}
.edit-right{
    margin-left: 96px;
    margin-top: 110px;
      overflow-y: scroll;
}

@media screen and (max-width: 800px) {
    .display-position1{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    max-width: 100%;
    padding: 0px;
    }

    .mainsection{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    max-width: 100%;
    padding: 0px;
    }
    
    .title1 {
    text-align: left;
    word-wrap: break-word;
    width: 90%;
    overflow-y: auto;
    flex: 1 1 auto;
}
    .arrowleftresponsive {
        display: flex;
    }

    .footerresponsive {
        display: flex;
        align-items: center;
    }

    .footerresponsive p {
        font-size: 14px;
    }

    .mainsection {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
         margin: 0;
        padding: 80px 20px 100px 20px;
    }

    .responsivearrow {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: left;
        width: 100%;
    }

    .responsiveheader {
        display: flex;
    }

    .join-logo {
        display: none;
    }

    .left-side {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100vw;
        height: 70px;
        position: fixed;
        bottom: 0;
        left: 0;
        top: auto;
        transform: none;
        z-index: 1000;
    }

    nav {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        gap: 0px;
        margin-left: 10px;
        margin-right: 10px;
    }

    nav a {
        padding-left: 0;
        padding: 5px;
        font-size: 12px;
    }

    footer {
        display: none;
    }
}