@media (max-width:1400px){

    .board{
     grid-template-columns: repeat(2, minmax(240px, 1fr)); 
    margin-left: 100px;}
    }

    

@media (max-width:800px){

    .title-and-search{

        display: flex;
        flex-direction: column;
    }

    .board{

        display: flex;
        flex-direction: column;
    }
    }