.mainsection{
    padding: 80px;
}

h1{
    font-size: 40px;
    margin-bottom: 20px;
}
h2{
    font-size: 24px;
    margin-bottom: 10px;
}
.subtitle1{
    margin-bottom: 40px;
}

.d_none{
    display:none;
}

.left-side {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 232px;
    background-color: #2A3647;
    position: relative;
}

nav {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 15px;
}

nav a {
    padding-left: 25%;
}

nav a:hover {
    background-color: #2A3D59
}