.mainsection {
    padding: 80px;
    height: calc(100vh - 160px);
}

h1 {
    font-size: 60px;
    margin-bottom: 30px;
}

h2 {
    font-size: 24px;
    margin-top: 20px;
}

.subtitle1 {
    margin-bottom: 40px;
}

.d_none {
    display: none;
}

.left-side {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-width: 232px;
    background-color: #2A3647;
    position: sticky;
    z-index: 2;
}

nav {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 15px;
}

nav a {
    padding-left: 25%;
}

nav a:hover {
    background-color: #2A3D59
}

.responsiveheader {
    display: none;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: auto;
    width: 100vw;
    height: 80px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 96px;
    padding: 0 20px 0 20px;
    background-color: #FFFFFF;
    flex: 0 0 100px;
}

.responsive-logo {
    display: none;
}

.responsiveheaderimage {
    width: 32px;
    height: 40px;
    margin-left: 20px;
}

/*.footerresponsive {
    display: none;
}*/

.arrowleftresponsive {
    display: none;
}

.avatar-text {
    color: white;
    font-size: 16px;
}

.navbar {
    position: absolute;
    top: 60px;
    right: 0;
    display: none;
    background: #1e1e2f;
    color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .2);
    z-index: 9999;
    pointer-events: auto;
    min-width: 150px;
}

@media (max-width: 1230px) {
    .responsive-logo {
        display: block;
        width: 100px;
        height: 32px;
        background-image: url(../assets/logo-black.svg);
    }
        h3 {
        display: none;
    }

}

@media screen and (max-width: 780px) {
    .arrowleftresponsive {
        display: flex;
    }

    .footerresponsive {
        display: flex;
        align-items: center;
    }

    .footerresponsive p {
        font-size: 16px;
    }

    .mainsection {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .responsivearrow {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: left;
        width: 100%;
    }

    .responsiveheader {
        display: flex;
    }

    .join-logo {
        display: none;
    }

    .left-side {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100vw;
        height: 70px;
        position: fixed;
        bottom: 0;
        left: 0;
        top: auto;
        transform: none;
        z-index: 1000;
    }

    nav {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        gap: 0px;
        margin-left: 10px;
        margin-right: 10px;
    }

    nav a {
        padding-left: 0;
        padding: 5px;
        font-size: 16px;
    }

    footer {
        display: none;
    }

    .mainsection {
        margin: 0;
        padding: 80px 20px 100px 20px;
    }
}