.main-logo {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    transition: all 0.7s ease;
}

.main-logo-small {
    transform: none;
    top: 70px;
    left: 114px;
    width: 100px;
    cursor: pointer;
    z-index: 9999;
}

.login {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.04);
    padding: 70px 152px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 650px;
    box-sizing: border-box;
}

.back-arrow {
    cursor: pointer;
}

.back-arrow:hover {
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 50%;
}

.userinput {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15px;

}

.userinputcustom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    position: relative;
}

.userinputcustom input {
    flex: 1;
    border: none;
    outline: none;
    min-width: 0;
    border: 1px solid rgba(217, 217, 217, 1);
    border-radius: 10px;
    padding: 6px;
    padding-left: 11px;
    padding-right: 11px;

}

h1 {
    margin: 0px;
}

.inputfield {
    border: none;
    outline: none;
    font-size: 16px;
    color: #000;
    line-height: 1;
    background-color: transparent;
    flex: 1;
    width: 422px;
    height: 24px;
}

.buttonlogin {
    background-color: rgba(42, 54, 71, 1);
    color: white;
    border-radius: 8px;
    padding: 6px 20px;
    font-size: 21px;
    cursor: pointer;
}

.signedupconfirmationcontainerdarkoverlay {
    background-color: rgba(0, 0, 0, 0.04);
    position: fixed;
    top: 50%;
    inset: 0;
    z-index: 99;
       pointer-events: none;
}

.signedupconfirmationcontainer {
    background-color: rgba(42, 54, 71, 1);
    color: white;
    border-radius: 26px;
    font-size: 20px;
    position: absolute;
    top: 450px;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, 150%);
    transition: transform 0.3s ease, opacity 0.3s ease;
    width: 320px;
    z-index: 100;
    text-align: center;
}

.signedupconfirmationcontainer.is-open {
    transform: translate(-50%, 0);
    opacity: 1;
}

.buttonlogin:disabled {
    background-color: rgba(42, 54, 71, 0.3);
    cursor: not-allowed;
    opacity: 0.7;
}

.buttonguestlogin {
    border-radius: 8px;
    background-color: white;
    color: black;
    font-size: 21px;
    padding: 5px;
    cursor: pointer;
    border: 1px solid;
}

.buttonguestlogin:hover {
    border-radius: 8px;
    color: rgba(41, 171, 226, 1);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.25);
    transition: transform 0.2s ease;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 32px;
}

.buttonlogin:hover {
    transition: transform 0.2s ease;
    background-color: rgba(41, 171, 226, 1);
    color: white;
    border-radius: 8px;
    border-style: solid;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.25);
    border-color: rgba(41, 171, 226, 1);
}

.buttonsignup:hover {
    transition: transform 0.2s ease;
    background-color: rgba(41, 171, 226, 1);
    color: white;
    border-radius: 8px;
    border-style: solid;
    padding: 15px;
    font-size: 16px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.25);
    border-color: rgba(41, 171, 226, 1);
}

.headerwriting {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 35px;
    font-size: 20px;
    position: absolute;
    top: 40px;
    right: 40px;
    height: 78px;
}

.buttonsignup {
    background-color: rgba(42, 54, 71, 1);
    color: white;
    border-radius: 8px;
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
}

.links {
    font-size: 16px;
    color: rgba(168, 168, 168, 1);
    text-decoration: none;
    cursor: pointer;
}

.links:hover {
    transition: transform 0.2s ease;
    color: rgba(41, 171, 226, 1);
    font-weight: bold;
}

.linksdiv {
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 30px;
}

.signuppage {
    display: flex;
    align-items: center;
    justify-content: center;
}



.loginwriting {
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loadingscreen {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup {
    background-color: white;
    border-radius: 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.04);
    width: fit-content;
    position: relative;
    height: 630px;
    width: 598px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.signuptitleandarrow {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.loadingscreen {
    position: fixed;
    inset: 0;
    background-color: #f6f7f8;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit {
    border-color: #FF8190 !important;
}

.required-mssg {
    color: #FF8190;
     visibility: hidden;
    font-size: 16px;
    text-align: left;
    margin-top: 6px;
}

.required-mssg.show {
  visibility: visible;
}

.signupcenter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
}

.checkboxandbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;
}

.checkboxandbuttonplacement {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.signupinputfield {
    border: none;
    outline: none;
    font-size: 16px;
}



.signupinputfield::placeholder {
    color: #D1D1D1
}

.inputfield::placeholder {
    color: #D1D1D1
}

.index-content {
    display: block;
    flex-direction: column;
    gap: 40px;
    padding: 40px 20px;
    position: relative;
}

.login-title {
    font-weight: 700;
    font-size: 61px;
}

.blue-line {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 14px;
}

.d_none {
    display: none;
}

.signup-inputs {
 width: 80% !important;
}

.signup-inputs input {
    padding: 12px 12px 12px 10px;
       
}

.accept-text {
    padding-right: 4px;
}

.checkboxinput {
    width: 16px;
    height: 16px;
    border-radius: 3px;
    margin-right: 16px;
}

.bordercolor-blue {
    border: 1px solid #29ABE2 !important;
}

.login-input-icon {
    position: absolute;
    right: 20px;
}

button.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

@media (max-width: 1200px) {
    .main-logo-small {
        transform: none;
        top: 30px;
        left: 70px;
        width: 70px;
        cursor: pointer;
        z-index: 9999;
    }
}

@media (max-width: 780px) {

    .headerwritingresponsive {
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
    }

    .logo {
        top: 80px;
        left: 70px;
        height: 64px;
        width: 50px;
    }

    .linksdiv {
        position: static;
        transform: none;
        bottom: 30px;
        left: 50%;
        display: flex;
        gap: 30px;
        width: 100%;
        justify-content: center;
    }

    .userinput {
        width: 100%;
    }



    .signup {
        height: 80vh;
    }


    .userinputcustom {
        width: 90%;
        height: auto;
    }

    .loginwriting {
        margin-bottom: -40px;
        gap: 18px;
    }

    .login-title {
        font-size: 46px;
    }

    .buttons {
        flex-direction: column;
    }

    .buttonguestlogin {
        padding: 10px 84px;
        font-size: 21px;
    }

    .headerwritingresponsive {
        margin-bottom: 50px;
    }

}

.signup-h1 {
    font-size: 61px;
}



@media (max-width: 500px) {
    .signup-h1 {
        font-size: 38px;
    }

    .blue-vector {
        width: 76px;
        height: 3px;
        object-fit: cover;
        margin-top: -8px;
    }

    .buttons {
        gap: 15px;
        margin-top: -40px;
    }

    .signup-inputs {
        width: 80% !important;
        padding: 6px;
    }

    .login-title {
        font-size: 38px;
    }


    .main-logo-small {
        left: 40px;
        width: 60px;

    }

    .buttonlogin {
        width: auto !important;
        padding: 12px 40px;
        font-size: 16px;
    }

    .buttonguestlogin {
        padding: 12px 18px;
        font-size: 16px;
    }

    .headerwritingresponsive {
        margin-bottom: 0px !important;
    }


    .checkboxandbuttonplacement {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        text-wrap: nowrap;
        font-size: 16px;
    }

    .signupinputfield {
        font-size: 16px;
    }


    .links {
        text-wrap: nowrap;
    }

    h1 {
        width: auto;
        height: auto;
    }
}

@keyframes logoanimation {
    0% {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(2);
        opacity: 1;
    }

    100% {
        top: 80px;
        left: 70px;
        transform: translate(0, 0) scale(1);
        opacity: 1;
    }
}