.main-logo {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    transition: all 0.7s ease;
}

.main-logo-small {
    transform: none;
    top: 70px;
    left: 114px;
    width: 100px;
    cursor: pointer;
    z-index: 9999;
}

.login {
    position: absolute;
    bottom: 30vh;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.04);
    padding: 48px 200px 48px 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.back-arrow {
    cursor: pointer;
}

.userinput {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding-bottom: 15px;
}

.userinputcustom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgba(217, 217, 217, 1);
    border-radius: 10px;
    padding: 6px;
    padding-left: 11px;
    padding-right: 11px;
}

h1 {
    margin: 0px;
}

.inputfield {
    border: none;
    outline: none;
    font-size: 16px;
    color: #000;
    padding: 10px 0;
    line-height: 1;
    background-color: transparent;
    flex: 1;
}

.buttonlogin {
    background-color: rgba(42, 54, 71, 1);
    color: white;
    border-radius: 8px;
    padding: 5px;
    font-size: 21px;
    cursor: pointer;
}

.buttonlogin:disabled {
    background-color: rgba(42, 54, 71, 0.3);
    cursor: not-allowed;
    opacity: 0.7;
}

.buttonguestlogin {
    border-radius: 8px;
    background-color: white;
    color: black;
    font-size: 21px;
    padding: 5px;
    cursor: pointer;
    border: 1px solid;
}

.buttonguestlogin:hover {
    border-radius: 8px;
    color: rgba(41, 171, 226, 1);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.25);
    transition: transform 0.2s ease;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 32px;
}

.buttonlogin:hover {
    transition: transform 0.2s ease;
    background-color: rgba(41, 171, 226, 1);
    color: white;
    border-radius: 8px;
    border-style: solid;
    padding: 5px;
    font-size: 21px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.25);
    border-color: rgba(41, 171, 226, 1);
}

.buttonsignup:hover {
    transition: transform 0.2s ease;
    background-color: rgba(41, 171, 226, 1);
    color: white;
    border-radius: 8px;
    border-style: solid;
    padding: 15px;
    font-size: 16px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.25);
    border-color: rgba(41, 171, 226, 1);
}

.headerwriting {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 35px;
    font-size: 20px;
    position: absolute;
    top: 40px;
    right: 40px;
    height: 78px;
}

.buttonsignup {
    background-color: rgba(42, 54, 71, 1);
    color: white;
    border-radius: 8px;
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
}

.links {
    font-size: 16px;
    color: rgba(168, 168, 168, 1);
    text-decoration: none;
    cursor: pointer;
}

.links:hover {
    transition: transform 0.2s ease;
    color: rgba(41, 171, 226, 1);
    font-weight: bold;
}

.linksdiv {
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 30px;
}

.signuppage {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainlogin {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginwriting {
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loadingscreen {
    display: flex;
    justify-content: center;
    align-items: center;
}

.d_none {
    display: none;
}

.signup {
    background-color: white;
    border-radius: 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.04);
    padding: 20px 95px 20px 95px;
    width: fit-content;
    position: relative;
}

.signuptitleandarrow {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.loadingscreen {
    position: fixed;
    inset: 0;
    background-color: #f6f7f8;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signupcenter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@media screen and (max-width: 780px) {
    .logo {
        top: 80px;
        left: 70px;
        height: 64px;
        width: 50px;
    }
}

@keyframes logoanimation {
    0% {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(2);
        opacity: 1;
    }

    100% {
        top: 80px;
        left: 70px;
        transform: translate(0, 0) scale(1);
        opacity: 1;
    }
}