header {
    filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.08));
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.contanctssection {
    background-color: rgba(255, 255, 255, 1);
    width: 456px;
    height: 100vh;
    filter: drop-shadow(4px 0px 6px rgba(0, 0, 0, 0.08));
    overflow-y: auto;
    height: calc(100vh - 96px);
    overflow-x: hidden;
    padding-bottom: 20px;
}

.contact-badge {
    width: 42px;
    height: 42px;
    border-radius: 45px;
}

.addnewcontact {
    background-color: rgba(42, 54, 71, 1);
    border-radius: 10px;
    width: 352px;
    height: 56px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 21px;
    gap: 16px;
    cursor: pointer;
}

.addnewcontact:hover {
    background-color: rgba(41, 171, 226, 1);
    border: 0;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.25);

}

.personaddimg {
    height: 32px;
    width: 32px;
}

.addnewcontactbuttonplacement {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 22.5px;
    flex-direction: column;
}

.contactsmoto {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 100px;
    flex-direction: column;
}

.contactsmoto h1 {
    font-weight: 700;
    font-size: 81px;
    font-style: bold;
}

.contatsandmotopositioning {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;

}

.contactswholetext {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.contactswholetext p {
    font-style: normal;
    font-size: 24px;
    font-weight: 400;
}

.contactsrender {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.letter-header {
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    width: 100%;
    padding: 20px;
    margin-left: 20px;
}

.contact-name {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 20px;
    font-weight: 400;
    width: 100%;
    padding-right: 100px;
}

.contact-email {
    color: rgba(0, 124, 238, 1);
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}

.contact-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
    cursor: pointer;
}

.contact-item:hover {
    background-color: #F5F5F5;
    border-radius: 10px;
    color: black;
}

.createnewcontact-button-create-contact p {
    font-weight: 700;
    font-size: 21px;
}

.createnewcontact-button-create-contact:hover {
    background-color: rgba(41, 171, 226, 1);
    border: 0;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.25);
    color: white;
}

.button-create:hover {
    background-color: rgba(41, 171, 226, 1);
    color: white;
}

.contactinfo {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    flex-direction: column;
}

.contactinfo-badge {
    width: 120px;
    height: 120px;
    border-radius: 70px;
    opacity: 1;
    gap: 10px;
    border-width: 3px;
}

.picture-name-contactinfo {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    gap: 54px;
    padding-bottom: 50px;
}

.contactinfo-name {
    font-weight: 500;
    font-size: 47px;
    font-style: normal;
}

.edit-delete-icons-placement {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 13px;
    cursor: pointer;
}

.contactinfo-icons {
    height: 24px;
    width: 24px;
}

.contactinfo-icons-text-placement {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
}

.contact-information p {
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 20px;
}

.contact-email-phone {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    flex-direction: column;
    font-weight: 400;
}

.contact-email-phone p {
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 124, 238, 1);
}

.createnewcontact-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    position: fixed;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.createnewcontact-table {
    display: flex;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 1);
    height: 592px;
    width: 1212px;
    cursor: default;
}

.left-blue-side {
    height: 594px;
    width: 467px;
    background-color: rgba(42, 54, 71, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}

.createnewcontact-logo {
    width: 55px;
    height: 66px;
    width: 75%;
    margin-bottom: 10px;
}

.createnewcontact-text {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 10px;
}

.createnewcontact-text h2 {
    font-weight: 700;
    font-size: 61px;
    font-style: bold;
}

.createnewcontact-text p {
    font-weight: 400;
    font-size: 27px;
    margin-bottom: 10px;
}

.white-right-side {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 680px;
    flex-direction: column;
}

.createnewcontact-person-radius {
    background-color: rgba(209, 209, 209, 1);
    border-radius: 50%;
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.createnewcontact-person-radius img {
    height: 42.67px;
    width: 42.67px;
}

.createnewcontact-close {
    width: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
    position: relative;
    top: -10%;
    left: 45%;
    right: 0%;
}

.createnewcontact-inputfield-person-placement {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 50px;
}

.createnewcontact-inputfield {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 215px;
    gap: 8px;
}

.createnewcontact-inputfield input {
    width: 422px;
    height: 50px;
    border-radius: 10px;
    border: none;
    padding: 0 12px;
    outline: none;
}

.createnewcontact-inputfield-icon {
    border: 1px solid rgba(209, 209, 209, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    padding: 0 10px;
    gap: 8px;
}

.createnewcontact-inputfield-icon img {
    height: 16px;
    width: 16px;
}

.createnewcontact-buttons-placement {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 24px;
}

.createnewcontact-button-cancel {
    color: #000;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    height: 56px;
    width: 126px;
    border-radius: 10px;
    background-color: #ffff;
    border: 1px solid rgba(42, 54, 71, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    cursor: pointer;
    gap: 4px;
}

.createnewcontact-button-cancel:hover {
    border-color: rgba(41, 171, 226, 1);
    color: rgba(41, 171, 226, 1);
}

.createnewcontact-button-cancel:hover img {
    filter: brightness(0) saturate(100%) invert(58%) sepia(93%) saturate(1490%) hue-rotate(161deg) brightness(94%) contrast(97%);
}

.createnewcontact-close:hover {
    background-color: #EEEEEE;
}

.editcontact-button-cancel {
    color: black;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    height: 56px;
    width: 126px;
    border-radius: 10px;
    background-color: #ffff;
    border: 1px solid rgba(42, 54, 71, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    cursor: pointer;
    gap: 4px;
}

.button-cancel {
    border: none;
    background-color: #ffff;
    color: black;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    cursor: pointer;
}

.createnewcontact-button-create-contact {
    color: white;
    height: 56px;
    width: 214px;
    border-radius: 10px;
    background-color: rgba(42, 54, 71, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    cursor: pointer;
}

.editcontact-button-create-contact {
    color: white;
    height: 56px;
    width: 214px;
    border-radius: 10px;
    background-color: rgba(42, 54, 71, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    cursor: pointer;
}

.button-create {
    border: none;
    background-color: rgba(42, 54, 71, 1);
    color: white;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    cursor: pointer;
}

.edit-person-radius img {
    height: 120px;
    width: 120px;
}

.responsiveheaderimage {
    display: none;
}

.responsiveaddcontact {
    display: none;
}

.createnewcontactmaincontainer {
    border-radius: 30px;
    background: white;
    overflow: hidden;
}

.addednewuserdiv {
    display: none;
}

.addednewuserdiv h1 {
    font-weight: 400;
    font-style: default;
    font-size: 20px;
}

.contactsmotoresponsivediv {
    display: flex;
    gap: 15px;
    align-items: center;
}

.contactsmoto-back-arrow-responsive {
    display: none;
}

.threedotsmenu {
    display: none;
}

.left-side{
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-width: 232px;
    background-color: #2A3647;
    position: sticky;
    z-index: 2;
    height: 100vh;
}

.left-side {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-width: 232px;
    background-color: #2A3647;
    position: sticky;
    z-index: 2;
}

@media screen and (min-width: 320px) and (max-width: 500px) {
    .createnewcontact-inputfield input {
        width: 140px;
        height: 41px;
        gap: 8px;
    }

    .createnewcontact-text h2 {
        font-size: 38px;
        white-space: nowrap;
        font-weight: 700;
    }

    .createnewcontact-text p {
        font-weight: 400;
        font-size: 17px;
    }
}

@media screen and (min-width: 320px) and (max-width: 780px) {
    .contactsmoto {
        display: none;
        padding: 11px;
        padding-top: 60px;
    }

    .left-side {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100vw;
        height: 70px;
        position: fixed;
        bottom: 0;
        left: 0;
        top: auto;
        transform: none;
        z-index: 1000;
    }

    nav {
        flex-direction: row;
        justify-content: center;
        width: 100%;
        gap: 11%;
    }

    .leftsideicons {
        display: flex;
        flex-direction: column;
    }

    nav img {
        width: 24px;
        height: 24px;
    }

    nav a {
        padding-left: 0;
        padding: 5px;
        font-size: 12px;
    }

    footer {
        display: none;
    }

    header h3 {
        display: none;
    }

    .user-info a {
        display: none;
    }

    header {
        justify-content: center;
        padding: 0px;
        gap: 42%;
        width: 100%;
        ;
    }

    .addnewcontact {
        display: none;
    }

    .contanctssection {
        width: 100%;
        filter: none;
    }

    .join-logo {
        display: none;
    }

    .responsiveheaderimage {
        display: flex;
        width: 32px;
        height: 40px;
    }

    .responsiveaddcontact {
        display: block;
        position: absolute;
        bottom: 10%;
        right: 5%;
        height: 56px;
        width: 56px;
        cursor: pointer;
    }

    .createnewcontactmaincontainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 75%;
        height: 760px;
    }

    .createnewcontact-table {
        flex-direction: column;
        width: 100%;
        flex: 1;
    }

    .left-blue-side {
        height: 352px;
        width: 100%;
        background-color: rgba(42, 54, 71, 1);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: white;
        flex: 0 0 auto;
    }

    .white-right-side {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1;
        gap: 20px;
    }

    .createnewcontact-logo {
        display: none;
    }

    .createnewcontact-button-cancel {
        display: none;
    }

    .createnewcontact-inputfield {
        width: 364px;
        height: 153px;
        gap: 15px;
    }

    .createnewcontact-person-radius {
        position: absolute;
        bottom: 46%;
        height: 120px;
        width: 120px;
        border-color: rgba(255, 255, 255, 1);
        border-width: 3px;
    }

    .createnewcontact-person-radius img {
        height: 64px;
        width: 64px;
    }

    .createnewcontact-close {
        position: absolute;
        top: 10%;
        right: 24%;
        filter: invert(1);
        left: 80%;
    }

    .addednewuserdiv {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 20%;
        bottom: 20%;
        background-color: rgba(42, 54, 71, 1);
        color: white;
        height: 74px;
        width: 326px;
        border-radius: 20px;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
    }

    .contactswholetext {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        flex-direction: column;
        width: 213px;
        height: 104px;
    }

    .contactswholetext h1 {
        font-weight: 700;
        font-style: Bold;
        font-size: 47px;
    }

    .contactsmotoresponsivediv {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column-reverse;
    }

    .line-wrapper {
        transform: rotate(90deg);
        width: 62px;
        display: flex;
        justify-content: flex-start;
    }

    .contactinfo {
        padding: 0px;
    }

    .contactinfo-badge {
        height: 80px;
        width: 80px;
    }

    .edit-delete-icons-placement {
        display: none;
    }

    .contact-information {
        padding-top: 20px;
    }

    .picture-name-contactinfo {
        gap: 10px;
    }

    .contactinfo-name {
        font-weight: 700;
        font-style: Bold;
        font-size: 36px;
    }

    .contactsmoto-back-arrow-responsive {
        display: flex;
        position: absolute;
        top: 20%;
        left: 85%;
        cursor: pointer;
    }

    .threedotsmenu {
        cursor: pointer;
        display: flex;
        position: absolute;
        bottom: 10%;
        right: 1%;
    }

    .threedotsmenu img {
        height: 56px;
        width: 56px;
    }

    .contactoptions {
        background-color: #ffff;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 116px;
        height: 100px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        flex-direction: column;
        box-shadow: 0px 4px 4px 0px #00000040;
        gap: 20px;
    }

    .iconsresponsiveedit {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        cursor: pointer;
        font-weight: 400;
        font-size: 16px;
        vertical-align: middle;
    }

    .iconsresponsiveedit img {
        width: 24px;
        height: 24px;
    }

    .iconsresponsiveedit p {
        width: 30px;
        height: 19px;
        font-family: Inter;
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        letter-spacing: 0%;
    }

    .iconsresponsivedelete {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        cursor: pointer;
        font-weight: 400;
        font-size: 16px;
        vertical-align: middle;
    }

    .iconsresponsivedelete img {
        width: 24px;
        height: 24px;
    }

    .iconsresponsivedelete p {
        width: 30px;
        height: 19px;
        font-family: Inter;
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        letter-spacing: 0%;
    }

    .edit-person-radius {
        position: absolute;
        bottom: 46%;
        height: 120px;
        width: 120px;
        border-color: rgba(255, 255, 255, 1);
        border-width: 3px;
    }

    .editcontact-button-create-contact {
        width: 99px;
        height: 51px;
        border-radius: 10px;
    }

    .editcontact-button-cancel {
        width: 82px;
        height: 51px;
        border-radius: 10px;
        border-width: 1px;
    }

}